.main-footer {
  background-color: #f1f1f1;
  padding-top: 73px;
  padding-bottom: 95px;
  margin-top: 160px;
}

.main-footer__container {
  display: flex;
}

.footer-menu {
  display: flex;
  flex-direction: column;
}

.main-footer__left,
.main-footer__right {
  width: 50%;
}

.footer-menu__item {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}

.footer-menu__item:not(:last-child) {
  margin-bottom: 16px;
}

.footer-menu__item:last-child {
  margin-bottom: 20px;
}

.main-footer__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.footer-social {
  position: relative;
  top: -5px;
}

.footer-social__item {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-social__item--mail {
  background-image: url(../img/mail.svg);
}

.footer-social__item--telegram {
  background-image: url(../img/telegram.svg);
}

.footer-social__item--facebook {
  background-image: url(../img/facebook.svg);
}

.footer-social__item:not(:last-child) {
  margin-right: 20px;
}

.subscription__title {
  margin-top: 0;
  margin-bottom: 35px;
}

.subscription__form {
  display: flex;
  justify-content: space-between;
}

.subscription__left-block {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.subscription__right-block {
  width: 20%;
}

.subscription__label {
  margin-bottom: 10px;
}

.subscription__email {
  background: none;
  border: none;
  border-bottom: 1px solid #000;
  width: 80%;
  font-size: 17px;
  margin-bottom: 16px;
}

.formfield--invalid .subscription__email {
  margin-bottom: 0;
}

.main-footer .invalid-message {
  margin-bottom: 16px;
  margin-top: 10px;
}

.subscription__checkbox-container {
  margin-top: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  padding-left: 40px;
  position: relative;
}

.subscription__checkbox {
  appearance: none;
  position: absolute;
  left: -4px;
  top: -3px;
  width: 24px;
  height: 25px;
}

.subscription__checkbox-check {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-left: -40px;
}

.subscription__checkbox:checked + .subscription__checkbox-check {
  background-image: url(../img/tick.svg);
}

.subscription__submit-button {
  position: relative;
  left: -43px;
  top: 2px;
}

.form-row {
  display: contents;
}

.invalid-message {
  color: #a20000;
}

@media screen and (max-width: 992px) {
  .subscription__right-block {
    width: auto;
  }
}

@media screen and (max-width: 992px) {
  .subscription__form {
    flex-direction: column;
  }

  .subscription__left-block {
    width: 100%;
    margin-bottom: 30px;
  }

  .subscription__right-block {
    width: 100%;
  }

  .subscription__email {
    width: 100%;
  }

  .subscription__submit-button {
    position: initial;
    left: initial;
    top: initial;

  }
}
